#grad1 {
  background-image: linear-gradient(white, violet);
 width:1000px;
  height:2000px;
}
table {text-align:left;}
th, td {
  text-align: left;
}
th, td {
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: coral;}
body {font-family: verdana; color: blue;}
p {font-family: verdana;}
h1   {color: #4B0082; font-family: courier;}
img {border-style: dotted; border-color: #4B0082;}
