#grad1 {
  background-image: linear-gradient(white, violet);
 width:100%;
  height:3000px;
}

body {font-family: verdana; color: blue;}
p {font-family: verdana;}
h1   {color: #4B0082; font-family: courier;}
img {border-style: dotted; border-color: #4B0082;}


