<style>
head {
  background-image: src="https://khalilbhanji.github.io/images/6857996-crazy-wallpaper.jpg";
}
p {font-family: verdana;}
h1   {color: #4B0082; font-family: courier;}
img {border-style: dotted; border-color: #4B0082;}
</style>
