#grad1 {
  background-image: linear-gradient(blue, black);
 width:100%;
  height:2000px;
}
section {border-style: dotted; border-color: white;}
li {font-family: arial color: white;}
li {border-style: dotted; border-color: white;}
p {font-family: arial color: white ;}
h1 {color: white; font-family: verdana;}
h1 {border-style: dotted; border-color: white;}
img {border-style: dotted; border-color: white;}
